name: security-baseline

on:
  push:
    branches:
      - "**"
  pull_request:

permissions: read-all

jobs:
  security-baseline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - name: Baseline CI check
        run: |
          echo "Security baseline workflow is active"
